body {
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    background-color:#5c2e00;
    color: white;
    padding:5px;
}

#nav a {
    font-weight: bold;
    color: white;
}

#profile{
    text-align: center;
}

#intro {
    background-color:#e86100;
    color: white;
    text-align: center;
    padding: 10px;
}

#myprojects {
    color: white;
    background-color:#5c2e00;
    padding: 10px;
}

#myprojects li{
    list-style-type: none;
}

#myprojects a{
    color: white;
}
#background {
    padding: 10px;

}

