body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero-image {
    background-image: url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clear: both;;
    opacity:0.9;

}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;



}
.avatar{
    border-radius: 50%;
    width: 350px;

}


span {
    color:#17252A;
    font-weight: bold;
}
#nav {
    background-color:#2B7A78;
    color: white;
}

#nav a {
    font-weight: bold;
    color: white;
}



#intro {
    background-color:#e86100;
    color: white;
    text-align: center;
    padding: 10px;
}

#myprojects {
    color: white;
    background-color:#2B7A78;
    padding: 20px;
    text-align: center;
    display: flex;
}


#myprojects a{
    color: white;
}
#background {
    padding: 40px;
    text-align: center;
    clear: both;
    

}
#background , ul , ol {
    list-style-type: none;
}

#footer {
    background-color:#17252A;
    padding: 10px;
    color: white;
}
.row{
    color: black;
    margin:auto;
    text-align: center;
}
.column {
    padding: 0 10px;
    margin-top: 20px  ;
    margin-bottom: 10px  ;
}
